body{
    display: flex;
    justify-content: center;
    
}

.table{
    display: flex;
    flex-direction: column;
    
}

a{
    color:rgb(2, 181, 240);
    text-decoration: none;
}

header{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.name{ 
    display: flex;
    flex-direction: row;
}

.name .first-name, .name .last-name{
    height: 40px; 
    flex-grow: 1;
    border-radius: 3px;
    border-width: 1px;
    margin: 5px;
}

.name .first-name:focus, .name .last-name:focus{
    box-shadow: 0px 0px 5px 0px rgb(12, 134, 255);
}

.info{
    display: flex;
}

.number, .email{
    flex-grow: 1;
    height: 40px;
    border-radius: 3px;
    margin: 5px;
    border-width: 1px;
}

.info .number:focus, .info .email:focus{
    box-shadow: 0px 0px 5px 0px rgb(12, 134, 255);
}

.password{
    display: flex;
}

.password .pw, .password .confirm-pw{
    height: 40px;
    flex-grow: 1;
    border-radius: 3px;
    border-width: 1px;    
    margin: 5px;
}


.password .pw:focus, .password .confirm-pw:focus{
    box-shadow: 0px 0px 5px 0px rgb(12, 134, 255);
}

.agreement{
    display: flex;
}

.agreement .agree{
    font-weight: bold;
    font-size: 10px;
    flex:30%;
    margin: 10px 0px;
}

.btn{
    display: flex;
    gap: 10px;
}

.register-btn{
    border: none;
    border-radius: 4px;
    color: white;
    background-color:cornflowerblue;
    height: 30px;
    cursor:pointer;
    flex-grow: 1;
}

.signin-btn{
    border: none;
    border-radius: 4px;
    color: white;
    background-color:green;
    height: 30px;
    cursor:pointer;
    flex-grow: 1;
}

.terms{
    font-size: 12px;
    margin: 5px 5px;
    flex: 70%
}

.terms .register{
    color: white;
    background-color: cornflowerblue;
    padding: 1px 5px;
    border-radius: 2px;
}

@media screen and (max-width: 400px) {
    .name, .password{
        flex-direction: column;
    }
}