body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    padding: 25px;
}

header {
    font-size: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border-style: solid;
    outline: none;
}

input:focus {
    box-shadow: 0 0 10px lightblue;
    border: 2px lightskyblue;
    border-style: solid;
}
input:hover {
    box-shadow: 0 0 10px lightblue;
}

a {
    color: lightskyblue;
    cursor: pointer;
}

p {
    font-size: 12px;
}

input[type='checkbox'] {
    padding: 0;
    width: fit-content;
}

.input-row {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 10px;
    column-gap: 20px;
}

.notice-wrapper {
    display: flex;
    flex-direction: row;
}

.check-box {
    flex: 1;
}

.notice {
    flex: 2;
}

.button {
    width: 100%;
    border: none;
    text-align: center;
    font-size: 16px;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.register {
    background-color: #2280d3;
}

.sign-in {
    background-color: rgb(139, 221, 17);
}

.register-mini {
    background-color: #428bca;
    width: fit-content;
    font-size: 10px;
    padding: 1px 5px 1px 5px;
    border-radius: 2px;
}

.notice p {
    font-size: 18px;
}