html{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 500px;
}

.todo__form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:10px;
}

.todo__list-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 300px;
    /*height: device-height;*/
    outline:2px solid rgb(160, 160, 144);
    border-radius: 5px;
    padding:10px;
    /*outline: solid beige;*/
}

.todo__list{
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.todo__list li{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(217, 217, 194);
}

.todo__list span{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.btn--delete{
    background-color: red;
    color:white;
    border-radius: 5px;
}

.btn--edit{
    background-color:rgb(0, 85, 255); 
    color: white;
    border-radius: 5px;
}

.btn--done{
    background-color:rgb(0, 85, 255); 
    color: white;
    border-radius: 5px;
}