:root {
    --tan: #e6e2d3;
    --traffic-white: #f0f0f0;
    --yellow-green: #4caf50;
    --vermillion-red: #c94c4c;
    --blue: #008cba;
    --transition: all 0.3s linear;
    }
    
    html {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .todo__container {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
    .todo__list-container {
        min-width: 500px;
        display: flex;
        flex-direction: column;
        align-items:space-between;
        border: 3px var(--tan) solid;
        border-radius: 10px;
        padding: 10px;
    }
    
    .todo__list {
        padding: 0px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style-type: none;
    }
      
      .todo__list li {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: var(--tan);
        border-radius: 5px;
        padding:5px;
    }
    
    .btn--submit {
        background-color: var(--blue);
        text-transform: uppercase;
        padding: 0.375rem 0.75rem;
        font-size: 0.875rem;
        border: 2px solid var(--blue);
        color: var(--traffic-white);
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        border-radius: 0.2rem;
    }
    
    .btn--delete {
        background-color: var(--vermillion-red);
        padding: 0.375rem 0.75rem;
        font-size: 0.875rem;
        border: 2px solid var(--vermillion-red);
        color: var(--traffic-white);
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        border-radius: 0.2rem;
        align-self: center;
    }
    
    .btn--edit {
        background-color: var(--blue);
        text-transform: uppercase;
        padding: 0.375rem 0.75rem;
        font-size: 0.875rem;
        border: 2px solid var(--blue);
        color: var(--traffic-white);
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        border-radius: 0.2rem;
    }
    
    span {
        text-align: center;
        font-size:2rem;
        cursor: pointer;
        flex-grow: 0.8;
    }
    .strike {
        text-decoration: line-through;
    }
    
    .hidden {
        text-decoration: none;
    }
    
    .todo--alert {
        margin: 0 auto;
        font-size: 1.5rem;
        font-weight: 800;
    }
    
    .alert-danger {
        font-size: 1.5rem;
        font-weight: 800;
        color: var(--vermillion-red);
    }
    
    .alert-success {
        font-size: 1.5rem;
        font-weight: 800;
        color: var(--blue);
    }