#form {
    margin: auto;
    width: 50%;
}
h1{
    text-align: center;
}
#mobile, #email {
    width: 100%;
<<<<<<< HEAD
    border-radius: 5px;
    border-color: lightgray;
    border-width: 1px;
    margin-bottom: 2%;
    padding: 2%;
}
#fname, #lname, #password, #cpass, #register, #sign {
    width: 45%;
    border-radius: 5px;
    border-width: 1px;
    border-color: lightgray;
    margin-bottom: 2%;
    padding: 2%;
    
=======
}
#fname, #lname, #password, #cpass, #register, #sign {
    width: 45%;
>>>>>>> abdbea4 (Basic set up put together, still needs more styling)
}
#lname, #cpass, #agreement, #sign {
    float: right;
}
#agreement {
    width: 60%;
    font-size: .7em;
<<<<<<< HEAD
}

#register, #sign, #reg {
    color: white;
}

#register, #reg {
    background-color: dodgerblue;
}
 #sign {
     background-color: green;
 }
 #reg {
     padding: 1%;
     border-radius: 5px;
 }
 input[type=text]:focus {
    border: dodgerblue;
  }
=======
}
>>>>>>> abdbea4 (Basic set up put together, still needs more styling)
