body{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 6rem;
  width: 100%;
}

.header {
  margin-top: 2rem;
  font-size: 28px;
  text-align: center;
  font-weight: bold;
}

#first-name, #last-name, #number,
#email, #password, #password-confirmation, #confirm {
  margin: 1rem 0.5rem;
  width: 25%;
  border-radius: 5px;
  line-height: 250%;
}

#number,
#email {
  width: 53.5%;
}

input:focus {
  outline: none;
  border-color: #428BCA;
  box-shadow: 0px 0px 6px #428BCA;
}

.Terms-Condition {
  margin-left: 2rem;
}

.Terms {
  color: #276BFF;
  text-decoration: none;
}

#First-Resgister-btn {
  background-color: #428BCA;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  padding: 5px;
}

#Second-Resgister-btn {
  margin-top: 2rem;
  margin-right: 2rem;
  background-color: #276BFF;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  justify-content: center;
  display: inline-block;
  font-size: 16px;
  width: 25%;
}

#Sign-In-btn {
  margin-top: 2rem;
  background-color: #32CD32; 
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  width: 25%;
}


@media screen and (max-width: 300px) {
  .Sign-Up-Content {
    width: fit-content;
    margin-top: 0;
    flex-direction: column;
  }

  #check, #Terms-Condition{
    display: inline-block;
  }
  #Second-Resgister-btn, #Sign-In-btn , #Terms-Condition{
    flex-direction: column;
    width: fit-content;
  }
  /* .Sign-Up-Content {
    flex-direction: column;
    } */
 }
    
