.App {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  padding-top: 1em;
  height: 100vh;
  width: 100vw;
  background-color: #382e32;
}

.select__container{
  min-width: 375px;
  width:600px;
  max-width: 768px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.select__span{
  background-color: #f0deb0;
  padding: 1em;
  margin: 0.5em;
}

.select__inputs__div{
  display: flex;
  flex-direction: column;
  padding: 1em 0.5em;
  border-bottom: 3px solid gray;
}

.select__input{
  margin:0.5em 0;
}

input[type="checkbox"] {
  border-color: green;
  accent-color: green;
  width: 1.5rem;
  height: 1.5rem;
}

.clear__button{
  margin: 0.5em;
  font-size: 1.5rem;
  padding: 0.7rem;
  border-radius: 3px;
  border-color: green;
}

