/* body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sign-up {
  width: auto;
  margin-top: 1rem;
}
#header {
  text-align: center;
}
#content {
  text-align: center;
  margin: 1rem;
}
#first-name,
#last-name,
#pass,
#confirm-password {
  margin: 0.5rem 0.5rem;
  border-radius: 5px;
  border-color: #e9e9e9;
  line-height: 250%;
}
#phone,
#email {
  margin: 0.5rem 0.5rem;
  width: 95%;
  border-radius: 5px;
  border-color: #e9e9e9;
  line-height: 250%;
}
input:focus {
  outline: none;
  border-color: #428bca;
  box-shadow: 0px 0px 6px #428bca;
}
#form__row__container{
    display: flex;
    width:100%;
}
.toc{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
}
.flex-item {
    flex-grow: 1;
}
.left {
    flex-grow: 1;
}
.right {
    flex-grow: 1;
}
.demo-reg-btn {
  background-color: #399bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  padding: 5px;
}
.form__actions__container {
  margin-top: 1rem;
  width: 100%;
}
#reg-btn {
  margin-right: 2rem;
  background-color: #399bff;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  justify-content: center;
  display: inline-block;
  font-size: 16px;
  width: 45%;
}
#sign-in-btn {
  margin-right: 2rem;
  background-color: #71c94d;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  justify-content: center;
  display: inline-block;
  font-size: 16px;
  width: 45%;
}
.link {
  color: #399bff;
} */

.form__container {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__sign__up {
}

.form__header {
  text-align: center;
}

.form__row__container {
  display: flex;
}

.form__input {
  flex-grow: 1;
  margin: 1rem;
  padding: 0.5rem;
}

.form__toc{
  display:flex;
}

.form__checkbox {

}

.form__toc__text {

}

.form__actions__container {
  display: flex;
}

#reg-btn {
  flex-grow: 1;
  margin: 1rem;
  background-color: #399bff;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  justify-content: center;
  display: inline-block;
  font-size: 16px;
  width: 45%;
}
#sign-in-btn {
  flex-grow: 1;
  margin: 1rem;
  background-color: #71c94d;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  justify-content: center;
  display: inline-block;
  font-size: 16px;
  width: 45%;
}

.form__toc__text a {
  color: #399bff;
  text-decoration: none;
}
.form__toc__text a:visited {
  color: #399bff;
  text-decoration: none;
}
.form__toc__text a:hover {
  color: #3967ff;
  text-decoration: none;
}
.form__toc__text a:active {
  color: #4aff39;
  text-decoration: none;
}