body,html{
    font-family: Arial, Helvetica, sans-serif;
    
}

ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: #000;
    /* position: fixed; */
    top: 0%;
    width: 100%;
    padding: 0 200px 0 200px;

}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

li a:hover{
    background-color: cornflowerblue;
}

.header{
    background-color: #c6bfbf;
    padding: 0 200px 0 200px;
}
.p_container{
    display: flex;
}

.p_container > p{
    flex: 1;
    padding: 0 200px 100px 200px;

}

.nav2{
    background-color: #0b4d14;
}
footer{
    text-align: center;
}