body {
    margin: 0;
}
#FORM_CONTAINER {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100vw;
    height: 100vh;
}
#FORM {
    width: 584px;
}
#FORM > h1 {
    margin:0;
    margin-left: 40px;
    font-family: "Arial";
    font-weight: normal;
}
.text-input-section {
    width: 544px;
    height: 233px;
    margin-left: 40px;
}
.text-input-section > .text {
    display: inline-block;
    width: 540px;
    height: 40px;
    outline: 2px rgb(220, 220, 220) solid;
    border: none;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.text-input-section > .text:focus {
    outline: 2px rgb(150, 199, 238) solid;
    box-shadow: 0px 0px 10px lightgrey;
}
.text-input-section > .half-text-left {
    float: left;
    width: 254px;
}
.text-input-section > .half-text-right {
    float: right;
    width: 254px;
}

.check-text-section {
    width: 584px;
}
.check-text-section > .checkbox {
    float: left;
}
.check-text-section .label {
    margin-left: 5px;
    font-family: "Arial";
    font-size: medium;
    float: left;
}
.check-text-section > p {
    float: right;
    font-family: "Arial";
    font-size: smaller;
    width: 400px;
    margin: 0;
    text-align: left;
}
.register-p-span {
    background-color: rgb(66, 139, 202);
    color: white;
    font-size: smaller;
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
}
.register-p-a {
    text-decoration: none;
    color: rgb(155, 194, 227);
}
.submit-section {
    width: 544px;
    height: 233px;
    margin-left: 40px;
    margin-top: 3px;
}
.submit-section > .submit {
    width: 254px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Arial";
    color: white;
    font-size: medium;
    transition: background-color 0.5s;
}
.submit-section > .register {
    float: left;
    
    background-color: rgb(66, 139, 202);
    outline: 2px solid rgb(66, 139, 202);
}
.submit-section > .register:hover {
    background-color: rgba(66, 139, 202, 0.2);
}
.submit-section > .register:active {
    background-color: rgba(66, 139, 202, 1);
}
.submit-section > .signin {
    float: right;
    background-color: rgb(92, 184, 92);
    outline: 2px solid rgb(92, 184, 92);;
}
.submit-section > .signin:hover {
    background-color: rgba(92, 184, 92, 0.2);
}
.submit-section > .signin:active {
    background-color: rgba(92, 184, 92, 1);
}

@media only screen and (max-width: 900px) {
    #FORM {
        width: 80vw;
    }
    #FORM > h1 {
        margin:0;
        margin-left: 0;
    }
    .text-input-section {
        width: unset;
        height: unset;
        margin: 0;
    }
    .text-input-section > .text {
        width: 80vw;
    }
    .text-input-section > .half-text-left {
        float: unset;
    }
    .text-input-section > .half-text-right {
        float: unset;
    }
    .check-text-section {
        width: 80vw;
    }
    .check-text-section > .checkbox {
        float: unset;
    }
    .check-text-section .label {
        margin-left: 5px;
        font-family: "Arial";
        font-size: medium;
        float: unset;
    }
    .check-text-section > p {
        float: unset;
        font-family: "Arial";
        font-size: smaller;
        width: unset;
        margin: 0;
        text-align: left;
    }

    .submit-section {
        width: 80vw;
        margin-left: unset;
    }
    .submit-section > .submit {
        width: 80vw;
        height: 40px;
    }
    .submit-section > .signin {
        margin-top: 10px;
    }
}