:root {
  --blue: #008cba;
  --tan: #e6e2d3;
  --traffic-white: #f0f0f0;
  --yellow-green: #4caf50;
  --vermillion-red: #c94c4c;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.todo__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 500px;
}

.btn {
  border-radius: 5px;
  color: white;
  height: 30px;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.todo__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap:10px;
}

#todo-form-input {
  height: 25px;
  border-radius: 5px;
  border: 2px solid var(--tan);
}

.todo__form-submit {
  height: 30px;
  border-radius: 5px;
  border: 1px solid var(--blue);
  color: white;
  background-color: var(--blue);
}

.todo__list-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 300px;
  border: 2px solid var(--tan);
  border-radius: 5px;
  padding: 10px;
  background-color: var(--traffic-white);
}

.todo__list {
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.todo__list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--tan);
  border-radius: 5px;
  padding: 10px;
  background-color: var(--tan);
}

.todo__list-item--no-active {
  justify-content: center;
  border: initial;
  background-color: initial;
  color: rgba(0, 0, 0, 0.7);
}

.todo__list-item--dummy {
  visibility: hidden;
}

.todo__list-text {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
}

.todo__list-text:hover {
  cursor: pointer;
}

.todo__list-text--completed {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.7);
}

.todo__list-input {
  flex: 1;
  height: 25px;
  border-radius: 5px;
  border: 2px solid var(--tan);
}

.btn--edit {
  border: 1px solid var(--blue);
  background-color: var(--blue);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' focusable='false' aria-hidden='true' viewBox='0 0 24 24' data-testid='EditIcon' aria-label='fontSize small'%3E%3Cpath fill='white' d='M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34a.9959.9959 0 0 0-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 30px;
}

.btn--delete {
  border: 1px solid var(--vermillion-red);
  background-color: var(--vermillion-red);
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' focusable='false' aria-hidden='true' viewBox='0 0 24 24' data-testid='DeleteIcon' aria-label='fontSize small'%3E%3Cpath fill='white' d='M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z'%3E%3C/path%3E%3C/svg%3E");
  width: 30px;
}